SUAP_AUTH_CLIENT_ID=your-client-id
SUAP_AUTH_CLIENT_SECRET=your-client-secret
SUAP_AUTH_REDIRECT_URI=http://localhost:8000/auth/suap/callback/
SUAP_AUTH_DIRECT_REDIRECT=False

SECRET_KEY=change-me-in-production
DEBUG=True
