SUAP_CLIENT_ID=Ca1DUl2YvjC2MACYGKmG1F6UIkxoBdJHiqYl8paX
SUAP_CLIENT_SECRET=vjVbcwjHYDcs5ilSjesqROxdxm1Gndd3HiwTpjS7xQuwx5SgcRqABpzVeOjvcwHw3luZ4swCuOvHsyec2jtLpE46j4tBQcMEqSoUH236xhdkfv51KcEZHZtnjPnJhcVg
SUAP_REDIRECT_URI=http://localhost:8000/auth/suap/callback/
SECRET_KEY=change-me-in-production
DEBUG=True
